@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'singly-list';
  src: url('assets/fonts/singly-list.otf') format('opentype');
}

@font-face {
  font-family: 'turds';
  src: url('assets/fonts/turds.ttf') format('opentype');
}

* {
  font-family: 'singly-list';
  user-select: none;
}

img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img:focus {
  outline: none;
  box-shadow: none;
}

#root {
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}